<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="scripts/css/dg-picture-zoom.css" type="text/css" /> <script type="text/javascript" src="scripts/js/external/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="scripts/js/external/mootools-more.js"></script>
<script type="text/javascript" src="scripts/js/dg-picture-zoom.js"></script>
<script type="text/javascript" src="scripts/js/dg-picture-zoom-autoload.js"></script>
<script type="text/javascript" src="scripts/Readmore.js"></script>
<script type="text/javascript" src="scripts/jquery.js"></script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>lo bit landscapes</title>
<script type="text/javascript">
$(document).ready(function() {
$('#hidden-content').hide();
$('#hidden-content2').hide();
$('#hidden-content3').hide();
$('#hidden-content4').hide();



$('#hidden-content-reveal').click(function() {
$('#hidden-content').slideToggle(400);

return false;
});
$('#hidden-content-reveal2').click(function() {
$('#hidden-content2').slideToggle(400);

return false;
});
$('#hidden-content-reveal3').click(function() {
$('#hidden-content3').slideToggle(400);

return false;
});

$('#hidden-content-reveal4').click(function() {
$('#hidden-content4').slideToggle(400);

return false;
});
});

</script>
<style>
#header
{
    width:100%;
    border:
}
#main
{

}


#logoimage a:link {color: white;}
#logoimage a:visited {color: white;}
#logoimage a:hover {color: grey;}
#logoimage a:active {color: white;}

a:link {color: black;}
 a:visited {color: black;}
 a:hover {color: red;}
a:active {color: white;}

#menu
{
    background-color:black;

}

#logoimage
{
        background-color:black;
}




#navigation
{

}



p
{
font-size:12px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;


}


.noline
{
    text-decoration:none;
}



#item
{
border-collapse:collapse;
border: 2px solid black;
}
</style>

</head>



<body>

<table id="main" width="910" align="center" border="0">
<tr><td>

<table id="logoimage" width="900" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td align="center">
<img src="header3_1b.png" alt="WE" width="900" border="0"/></td></tr><tr><td>

<table id="menu" align="center" width="500" cellpadding="2" cellspacing="5">
<tr>
<td align="center">
<font color="#000000" size="-1" face="Arial, Helvetica, sans-serif"><a href="news.html" style="text-decoration: none"><strong>FEED</strong></a></font></td><td align="center">
<font color="#ffffff" size="-1" face="Arial, Helvetica, sans-serif"><strong>/</strong></font></td><td align="center">
<font color="#000000" size="-1" face="Arial, Helvetica, sans-serif"><a href="releases.html" style="text-decoration: none"><strong>RELEASES</strong></a></font></td><td align="center">
<font color="#ffffff" size="-1" face="Arial, Helvetica, sans-serif"><strong>/</strong></font></td><td align="center">
<font color="#000000" size="-1" face="Arial, Helvetica, sans-serif"><a href="press.html" style="text-decoration: none"><strong>PRESS</strong></a></font></td><td align="center">
<font color="#ffffff" size="-1" face="Arial, Helvetica, sans-serif"><strong>/</strong></font></td><td align="center">
<font color="#000000" size="-1" face="Arial, Helvetica, sans-serif"><a href="http://lobitlandscapes.bigcartel.com" style="text-decoration: none"><strong>STORE</strong></a></font></td><td align="center">
<font color="#ffffff" size="-1" face="Arial, Helvetica, sans-serif"><strong>/</strong></font></td><td align="center">
<font color="#000000" size="-1" face="Arial, Helvetica, sans-serif"><a href="about.html" style="text-decoration: none"><strong>ABOUT</strong></a></font><td align="center">
<font color="#ffffff" size="-1" face="Arial, Helvetica, sans-serif"><strong>/</strong></font></td><td align="center" >
<a href="http://www.soundcloud.com/lobitlandscapes"><img src="sc.png" height="22" border="0" onMouseOver="this.src='sc_o.png'" onMouseOut="this.src='sc.png'"></a><a href="http://www.facebook.com/lobitlandscapes"><img src="fb.png" height="22"  onMouseOver="this.src='fb_o.png'" onMouseOut="this.src='fb.png'" border="0"></a><a href="http://www.twitter.com/lobitlandscapes"><img src="tw.png" height="22"  onMouseOver="this.src='tw_o.png'" onMouseOut="this.src='tw.png'" border="0"></a></td>



</tr></table>

</tr>
</table>


    <table id="item" width="900" cellpadding="2" align="center" style="vertical-align:top">


    <tr>

    <td style="vertical-align:top;">
    <br />

  <table align="center"><tr><td>
    <img src="lornadune_miamisphere_ca.png?url=lornadune_miamisphere_ca_big.png" " width="300" class="dg-picture-zoom" />
    </td></tr><tr><td>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142062729&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </td></tr>
    <tr><td>   <br /> <hr style="border-style: dotted;"><br />

<p>Related : <br /><br><a href="http://www.lornadune.com" target="blank" style="text-decoration:none">lornadune.com</a><br><br>
<a href="http://lornadune.bandcamp.com/" target="blank" class="noline">lornadune.bandcamp.com</a>
</p></td></tr>
    </table>

    </td>

    <td style="vertical-align:top;">



    <table>
    <tr><td>
    <br />

    <table align="center" width="250"><tr><td>


 <p><strong>Lorna Dune - Miamisphere
 </strong><br><br><br>
  A1. Plasmodium<br />
   A2. Agnes Day<br />
   B1. Miamisphere<br />
   B2. Miamisphere (Terekke Remix)<br />
  <br /><br />Catalog # : LBL006 <br /> Release Date : 10-03-2013 <br />Format : 12" / MP3<br />
  <br /><br />



  Buy <a href="#">12"</a> / Buy <a href="http://lobitlandscapes.bigcartel.com/product/nihiti-ghosts-and-versions-ep">MP3</a>
    </table>
    <hr style="border-style: dotted;">
<table width="500" align="center"><tr><td>

<p><a href="http://lornadune.com/" target="_blank" style="text-decoration:none">Lorna Dune</a>&rsquo;s journey through sound - and arrival at the music on the<a href="http://lobitlandscapes.tumblr.com/post/61561584727/lorna-dune-miamisphere-ep-a1-plasmodium" target="_blank" style="text-decoration:none">&quot;Miamisphere&quot; EP</a> - has been a rather unique one, and not one you&rsquo;d expect to culminate in one of the most interstellar cosmic techno 12&ldquo;s in recent memory.
<p>Lorna Dune is the stage name of Lorna Krier, a virtuosic performer of &ldquo;New Music&rdquo; (think: classical music that is still being written), particularly in the Minimalist tradition, serving as a founder of several chamber style ensembles and a keyboardist/synthesist in numerous Brooklyn-based electronic music bands/collectives/groups of people making sound together.</p>
<p>Her work with composer <a href="http://www.missymazzoli.com/" target="_blank" style="text-decoration:none">Missy Mazzoli</a> in the quintet <a href="http://victoiremusic.com/" target="_blank" style="text-decoration:none">Victoire</a> on the record &ldquo;Cathedral City&rdquo; was named &ldquo;One of the top 10 classical albums of 2010&rdquo; by NPR and &ldquo;one of 2010 most memorable albums&rdquo; by The New Yorker magazine. She has worked extensively with composer &amp; visual artist <a href="http://www.tristanperich.com/" target="_blank" style="text-decoration:none">Tristan Perich</a>, has performed Steve Reich&lsquo;s music for Steve Reich himself, has joined the Philip Glass Ensemble as a keyboardist in the past, as well as appearing on stage at the Whitney, MoMA, New Museum, Carnegie Hall, Millenium Park, and more throughout the US, Canada, and Europe.</p>
<p>While obviously rooted in the sound of techno (Lorna admits to a deep infatuation upon the discovery of the heavier side of the form—maybe particularly with the sounds of Stephan Bodzin and Andy Stott—in the years before this EP was written), Miamisphere manages to incorporate many of the structures and harmonic motivations that inform so much of the Minimalist tradition. On first listen, it sounds like a collection of amazing dancefloor anthems, but closer inspection reveals a depth of composition that is quite difficult to find in the interlocking worlds of techno, house, and other such forms. From the swooping synths and rapid arpeggiations of evolving chordal forms on the opener, &ldquo;Plasmodium&rdquo;, to the basically surefire hit of &ldquo;Agnes Day&rdquo; and the acid-influenced, lower-BPM, but perhaps even more complex tonal range of &ldquo;Miamisphere&rdquo;, the uplifting and emotional content of the music—not just sound—squeezes through.</p>
<p>Closing with a vintage &ldquo;stoner house&rdquo; remix by NYC&lsquo;s mysterious <a href="http://www.residentadvisor.net/dj/terekke" target="_blank" style="text-decoration:none">Terekke</a>(L.I.E.S.) and issued on NIHITI&lsquo;s <a href="http://lobitlandscapes.org/" target="_blank" style="text-decoration:none">lo bit landscapes</a> imprint, imbued with a sense of mystery that is equal parts &ldquo;Dune&rdquo; mythos and new Brooklyn scene, &ldquo;Miamisphere&rdquo; is not the kind of record you are likely to encounter often in your travels through electronic music.</p></p></td></tr></table><hr style="border-style: dotted;" /><table width="500" align="center"><tr><td>
        <p>Press : <br />
        <p><a href="http://www.thefader.com/2013/10/02/stream-jd-samson-men-making-art-lorna-dune-remix/#ixzz3A5I1ORKV" target="blank" class="noline"><strong>FACT Mag </strong> : Stream JD Samson & MEN, 'Making Art (Lorna Dune Remix)' </a><a href="#" title="" id="hidden-content-reveal3">(...) </a><div id="hidden-content3"><p>

        Tomorrow, Lorna Dune—the Brooklyn keyboardist maybe best known for the classical quintet Victoire, and with ties to Steve Reich and Philip Glass—releases her gorgeous instrumental synth pop EP Miamisphere. First, though, is this stomping, The Knife-y remix of JD Samson & MEN’s “Making Art,” sounding nothing like the actual single from the band’s sophomore album, LABOR, itself out October 22nd. Pretty amazing on all fronts.</div>
        <a href="http://www.rbmaradio.com/shows/lorna-dune-train-wreck-mix" target="blank" class="noline"><p><strong>Red Bull Music Academy Radio </strong> : 'Train Wreck' mix by Lorna Dune </a><a href="#" title="" id="hidden-content-reveal4">(...) </a><div id="hidden-content4"><p>
        Liable to surprise you at any turn, Lorna Dune is a rather uncategorisable creature. As a virtuoso pianist, she’s the founder of several chamber and new music ensembles in New York, and contributes to the wider and weirder community of electronic artists making sound together with her synthesist sensiblities. On one hand you might find Lorna Dune playing with the Philip Glass Ensemble, or performing with Steve Reich, or even composing new music with Missy Mazzoli in the ensemble Victoire, and her minimal aesthetic has been informed by the best in the world. <br /><br />On the flipside, her take on weighty techno and dreamy synthscapes, both solo and in the trio Love Like Deloreans, displays an intuitive grasp of the kind of structure and arrangements that can send a dance floor into fits of ecstasy. An experimental keyboardist who is happy to go wherever her heart and ears tell her, redefining genres along the way, Lorna Dune inhabits a world of her own, and it’s a glorious thing to behold.</div>

        <p><strong><a href="http://www.residentadvisor.net/review-view.aspx?id=13932" target="blank" id="noline" style="text-decoration:none">Resident Advisor : </a></strong>Dance music's growing interest in new-agey sounds has had some pretty fascinating results—think of Steve Moore or Xander Harris for examples of this kind of trance-not-trance. Lorna Dune is a Brooklyn producer who operates along these lines, and her debut for lo bit landscapes sees her trawling Petar Dundov's Adriatic waters. More beat-oriented than last year's Sidereal EP, Miamisphere is arresting for its sheer Balearic decadence.  <a href="#" title="" id="hidden-content-reveal">(...) </a><br />
        <div id="hidden-content"><p>

"Plasmodium" kicks the EP off in flashy fashion, all watery sound effects, silly-putty basslines and an overdriven arpeggio that sounds like it was lifted out of "Silent Shout" and given some happy pills. "Agnus Dei" puts a more anxious spin on things with its floating-in-space woodblocks and grinding chords, but it's still lit up like a Christmas tree. <br /><br />

Most interesting of all is "Miamisphere," despite the fact that it's a year-old. Its steadily swirling slo-mo beat feels at odds with the rippling waves and fake brass that float above it, as if Dune were trying to recreate the classic dance music of Ibiza's golden era from only the faintest of memories. L.I.E.S. associate Terekke, whose own tracks have a matte coat compared to Dune's holographic gleam, seems like an odd choice for a remix, but his chunky house re-rub makes for an excellent counterpoint and brings her space cadet meanderings back down to earth, rounding off the New York label's best release yet.</div>
      <p><a href="      http://www.wqxr.org/#!/story/eight-artists-remix-caroline-shaw/
" target="blank" class="noline"><strong>WQXR </strong> : Lorna Dune remixes Pulitzer Prize winning 'Partita' by Caroline Shaw</a>       </table>
<br />

</table>

</table>

</body>
</html>
